html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 920px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__field {
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
}

.form__button {
    background-color: rgb(49, 126, 148);
    color: rgb(208, 233, 255);
    padding: 10px;
    border: none
}

.form__button:hover {
    background-color: rgb(61, 156, 182);
}

.form__button:active {
    box-shadow: 0px 0px 1px 1px #020202;
    background-color: rgb(71, 180, 210);
}
