html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    margin: 20px;
    font-size: 22px;
    background-color: rgb(237, 237, 237);
}